.chat_dialog__messages {
  overflow-y: auto;
  height: calc(100% - 10px - 52px);
  width: 98%;
  padding: 10px 5px;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  scroll-padding: 10px;
  &-message:last-child {
    scroll-snap-align: end;
    margin-bottom: 20px;
  }
  &-message {
    width: auto;
    max-width: 80%;
    margin-bottom: 10px;
    &.fromMe {
      align-self: flex-end;
      margin-left: auto;
      margin-right: 0px;
    }
    &_top {
      display: flex;
      flex-direction: row;
      align-items: center;
      &.fromMe {
        flex-direction: row-reverse;
      }
    }
    &_top-bubble {
      max-width: 70%;
      padding: 10px;
      margin-top: 2px;
      &--link {
        white-space: nowrap;
        width: min-content;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
      }
      &.fromMe {
        color: black;
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
        border-radius: 12px 12px 0px 12px;
      }
      &.toMe {
        background: #3674FF;
        color: white;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius: 12px 12px 12px 0px; 
        span::selection {
          background: #00a8ff;
        }
      }
    } 
    &_top-context {
      text-align: center;
      height: 100%;
      cursor: pointer;
      user-select: none;
    }
    &_bottom {
      width: fit-content;
      margin-top: 3px;
      margin-left: 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      color: #202020;
      mix-blend-mode: normal;
      opacity: 0.4;
      &.fromMe {
        margin-right: 5px;
        margin-left: auto;
      }
    }
  }
}
.chat_dialog__input {
  position: relative;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-wrap {
    margin: auto;
    width: 100%;
    height: 40px;
    border-top: 1px solid #E9E9E9;
    &--form {
      width: 95%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        cursor: pointer;
        margin-right: 10px;
      }
      input {
        width: 90%;
        height: 90%;
        padding: 2px;
        border: none;
        margin: auto;
        &:focus {
          outline: none;
        }
      }
      button {
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}

.emoji-mart {
  position: absolute;
  bottom: 55px;
  left: 10px;
  width: 290px !important;
  -webkit-box-shadow: 0px 5px 13px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 13px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 13px 2px rgba(34, 60, 80, 0.2);
  &-bar:last-child {
    display: none;
  }
}

@media (max-width: 860px) {
  .chat_dialog {
    width: 85%;
    min-width: calc(100% - 50px);
  }
  .emoji-mart {
    left: 10px;
  }
}