.chat_list {
  height: calc(100% - 110px);
  overflow-y: scroll;
  .right {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 85%;
  }
  &__card {
    display: flex;
    height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    &.active {
      background: #F3F7FF;
    }
    &:hover {
      background: #F3F7FF;
      cursor: pointer;
    }
    &___top {
      height: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      &____username {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        margin-left: 10px;
        line-height: 16px;
      }
      &____date {
        color: #202020;
        mix-blend-mode: normal;
        opacity: 0.4;
        margin-right: 0px;
        margin-left: auto;
      }
    }
    &___bottom {
      margin-left: 10px;
      height: 24px;
      &____content {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        overflow-wrap: break-word;
        white-space: nowrap;
        max-height: 24px;
        text-overflow: ellipsis;
      }
    }
    .profile_picture {
      margin: auto 0;
    }
  }
}

@media (max-width: 860px) {
  .chat_sidebar.closed {
    .chat_list {
      .right {
        display: none;
      }
      .profile_picture {
        margin: auto;
      }
      .chat_list__card {
        padding: 0;
      }
    }
  }
}