.chat {
  width: 100%;
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: row;
  overflow-y: hidden;
  &_dialog {
    width: 80%;
  }
  .preloader {
    width: 80%;
    display: flex;
    padding: 0;
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    .lds-roller {
      margin: auto;
    }
  }
}

